<head>
    <!-- Minified version -->
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
<h1>Welcome to the gambling den!</h1>
<div>
<a href="/login">Log in</a> to gamble!
<br>
<a href="/signup">Sign up</a> to create account!
</div>
</body>